body {
	font-size: 14px;
	color:#eee;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #131217 url(bg.jpg) no-repeat fixed center top;
	text-shadow: #121523 0px 1px 1px;
}

html{
	width:100%;
}

a {
    font-weight:bold;
    text-decoration:none; 
    color:white;
}

a:hover {
    	color:#66ccff;
}

/* regular css */
#splash_container{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	height:800px;
	display:block;
	background-image: url(splash_page.png);
}
#accordion p {
	line-height: 22px;
	margin-bottom:15px;
}


#accordion{
	width:500px;
	float: right;
	display:block;
	padding-top: 150px;
}

h2 {
	font-family: 'Alice', "Helvetica Neue",Helvetica,Arial,sans-serif;	
	text-shadow: #121523 0px 0px 1px;
	margin:0;
	display: block;
	font-size: 20px;
	width:500px;
	font-weight:normal;
}
h2.acc_trigger {
	padding: 0;	margin: 0 0 5px 0;
	background: url(button.png) no-repeat left top;
	height: 51px;	
	line-height: 51px;
	font-weight: normal;
}
h2.acc_trigger a {
	color: #fff;
	display: block;
	padding: 0 0 0 50px;
}
h2.acc_trigger a:hover {
	color: #ddd;
}

h2.active {
	background-position: left bottom;
	height:50.5px;
}

.acc_container {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	line-height: 22px;
	width: 500px;
	clear: both;
	background: #000;
	border: 1px solid #aaa;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.block p {
	color:red;

}

.alpha10 {
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.2 opacity */
background-color: rgba(0, 0, 0, 0.15);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000)";
}

.acc_container .block {
	padding:20px;
}

.footer {
	clear: left;
	padding: 15px;
	text-align: center;
}
